@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="/assets/favicon.ico" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<title>@title</title>
	<link rel="stylesheet" href="/assets/iui/iui.css" type="text/css" />
	<link rel="stylesheet" href="/assets/iui/t/default/default-theme.css"  type="text/css"/>
	<script type="application/x-javascript" src="/assets/iui/iui.js"></script>
</head>

<body>
  @content
</body>
</html>