@(title: String, currentUrl: String, restore: Boolean)(content: Html)

<!DOCTYPE html>

<html>
<head profile="http://www.w3.org/2005/10/profile">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39357615-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
        var currentUrl = '@Html(currentUrl)'
        if (@restore) {
            var storedUrl = localStorage.getItem('url');
            localStorage.removeItem('url');
            if (storedUrl) {
              window.location.href = storedUrl;
            }
        } else {
            if (currentUrl) {
                localStorage.setItem('url', currentUrl);
            } else {
                localStorage.removeItem('url');
            }
        }
        window.onload=function() {
            if (window.screen.height==568) { // iPhone 5
                document.querySelector("meta[name=viewport]").content="width=320.1";
            }
            document.body.addEventListener('afterinsert', function(e){
               if (e.insertedNode.getAttribute('name') == 'deck') {
                   localStorage.setItem('url', e.insertedNode.getElementsByTagName('a')[0].getAttribute('href'));
                }
            }, false);
        }
    </script>
    <link rel="icon" type="image/png" href="/assets/favicon.ico" />
    <link rel="apple-touch-icon" href="/custom_icon.png"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<title>@title</title>
	<link rel="stylesheet" href="/assets/iui/iui.css" type="text/css" />
	<link rel="stylesheet" href="/assets/iui/t/default/default-theme.css"  type="text/css"/>
	<script type="application/x-javascript" src="/assets/iui/iui.js"></script>
</head>

<body>
    <div class="toolbar">
        <h1 id="pageTitle"></h1>
    </div>

  @content
</body>
</html>